@import url(./reset.css);
@import url(./normalize.css);
@import url(./colors.css);
@import url(./fonts.css);
@import url(./icons.css);
@import url(./components/subnav.css);
@import url(./components/header-top.css);
@import url(./components/header.css);
@import url(./components/partners.css);
@import url(./components/products.css);
@import url(./common.css);
@import url(./components/about-company.css);
@import url(./components/cards.css);
@import url(./components/certificates.css);
@import url(./components/accordion.css);
@import url(./components/contact.css);
@import url(./components/footer.css);
@import url(./components/search-panel.css);
@import url(./components/trust.css);
@import url(./components/catalog-in-header.css);
@import url(./components/page-information.css);
@import url(./components/schemes.css);
@import url(./components/tabs.css);
@import url(./components/page-with-sidebar.css);
@import url(./components/popup.css);
@import url(./components/sidebar__product.css);
@import url(./components/easy-slider.css);
@import url(./components/mobile.css);

@import url(./pages/catalog-category.css);
@import url(./pages/catalog-category-product.css);
@import url(./pages/blog.css);
@import url(./pages/blog-article.css);
@import url(./pages/certificates.css);
@import url(./pages/calculator.css);
@import url(./pages/contacts.css);
@import url(./pages/page-404.css);
@import url(./pages/delivery.css);
@import url(./pages/project.css);

:root {
  --font-size: 16;
  --desktop-width: 1608px;
}

@media (max-width: 1650px) {
  :root {
    --desktop-width: 100vw;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat';
  font-weight: 400;
  color: var(--black);
  font-size: var(--font-size);
}

@media (max-width: 1650px) {
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: var(--desktop-width);
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 1650px) {
  .container {
    padding: 0 1em;
  }
}

@media (max-width: 600px) {
  .container--scroll-x {
    overflow-x: scroll;
  }
}

.container--place-center {
  display: grid;
  place-content: center;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--black);
}

.main {
  display: grid;
  gap: 2.5rem;
  position: relative;
}

@media (max-width: 600px) {
  .main {
    gap: 2rem;
  }
}

.main .row--top {
  position: relative;
}

.main .overlay--main {
  position: absolute;
  z-index: 10;
  top: 9.0625rem;
  height: calc(100% - 9.0625rem);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.main .overlay--main.hidden {
  visibility: hidden;
  pointer-events: none;
  width: 0;
  height: 0;
}

.main .page-header {
  display: grid;
  gap: 1.5rem;
}

.main .page-header .breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main .page-header .breadcrumbs a {
  text-decoration: none;
  color: var(--grey-1);
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 500;
}

.main .page-header .breadcrumbs a::after {
  content: '/';
  color: var(--grey-1);
  font-size: 0.75rem;
  line-height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.main .page-header .breadcrumbs .current-page {
  color: var(--grey-3);
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 500;
}

.main .page-description {
  color: var(--grey-1);
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 400;
}
