.main .accordion {
  position: relative;
  padding: 2.5rem 0;
}

.main .accordion::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 0.125rem;
  background-color: var(--orange);
}

.main .accordion .title {
  display: flex;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  position: relative;
  padding-bottom: 0.5rem;
  padding-right: 2rem;
  cursor: pointer;
}

@media (max-width: 600px) {
  .main .accordion .title {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}

.main .accordion .title::after {
  content: '';
  position: absolute;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../../images/icons/chevron.svg);
  background-position: center;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  transition: 0.3s all ease;
}

.main .accordion .item--open .title::after {
  transform: rotate(180deg);
}

.main .accordion .item {
  border-bottom: 0.0625rem solid var(--black);
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.main .accordion .item .description {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--grey-1);
  height: 0;
  opacity: 0;
  overflow: hidden;
}

@media (max-width: 600px) {
  .main .accordion .item .description {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

.main .accordion .item--open .description {
  height: initial;
  opacity: 1;
  transition: 0.3s all ease;
}
