.main .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-around;
  /* place-items: center; */
  /* grid-template-columns: repeat(4, 1fr); */
}

@media (max-width: 600px) {
  .main .cards {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-bottom: 1rem;
  }
}

.main .cards a {
  text-decoration: none;
}

.main .cards .card {
  width: calc(396 / 16 * 1rem);
  height: calc(462 / 16 * 1rem);
  background-color: var(--grey-4);
  cursor: pointer;
  display: grid;
  grid-template-rows: calc(268 / 16 * 1rem) 1fr;
  font-weight: 500;
  color: var(--black);
}

@media (max-width: 600px) {
  .main .cards .card {
    width: calc(280 / 16 * 1rem);
    height: calc(440 / 16 * 1rem);
    grid-template-rows: calc(248 / 16 * 1rem) 1fr;
    grid-template-columns: calc(280 / 16 * 1rem);
  }
}

.main .cards .card .card__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main .cards .card .card__image img {
  height: 100%;
  object-fit: fill;
}

.main .cards .card .wrapper {
  position: relative;

  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}

.main .cards .card .wrapper::before {
  content: '';
  width: 2.875rem;
  height: 0.125rem;
  background-color: var(--orange);
  position: absolute;
  top: 1.25rem;
  left: 2rem;
}

.main .cards .card hr {
  width: 2.875rem;
  height: 0.125rem;
  margin: 0 auto 0 0;
  background-color: var(--orange);
  border: none;
}

.main .cards .card .title {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

@media (max-width: 600px) {
  .main .cards .card .title {
    font-size: 12px;
    line-height: 18px;
    color: var(--grey-1);
  }
}

.main .cards .card .description {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media (max-width: 600px) {
  .main .cards .card .description {
    font-size: 14px;
    line-height: 24px;
  }
}
