.easy-slider {
  width: 100%;
  padding-bottom: 1.75rem;
}

@media (max-width: 600px) {
  .easy-slider {
    padding-bottom: 1.25rem;
  }
}

.easy-slider__images {
  width: 100%;
}

.easy-slider__image {
  width: 100%;
  overflow: hidden;
}

.easy-slider__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.easy-slider__paginator {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0 2rem;
}

.easy-slider .swiper-pagination-bullet {
  all: unset;
  background-color: var(--grey-3);
  height: 0.125rem;
  width: 100%;
}

.easy-slider .swiper-pagination-bullet-active {
  background-color: var(--orange);
}
