.main .footer {
  background-color: var(--black);
  padding-top: 5rem;
  padding-bottom: 2rem;
}

@media (max-width: 600px) {
  .main .footer {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
  }
}

.main .footer ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.main .footer ul li:first-child {
  color: var(--grey-1);
  margin-bottom: 0.75rem;
}

.main .footer .button--calculator {
  width: min-content;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5rem;
  padding: 0.5rem 1.25rem;
  background-color: var(--orange);
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 0.75rem;

  align-self: flex-start;
  justify-self: flex-end;
}

.main .footer .button--calculator::after {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('../../images/icons/add.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
}

.main .footer .messengers .viber,
.main .footer .messengers .telegram,
.main .footer .messengers .whatsapp {
  width: 1.5rem;
  height: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
}

.main .footer .messengers .viber {
  background-image: url(../../images/icons/viber.svg);
}
.main .footer .messengers .telegram {
  background-image: url(../../images/icons/telegram.svg);
}
.main .footer .messengers .whatsapp {
  background-image: url(../../images/icons/whatsapp.svg);
}

.main .footer a.phone {
  text-decoration: none;
  color: var(--white);
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 500;

  align-self: flex-start;
  justify-self: flex-end;
}

.main .footer .grid--footer {
  display: grid;
  grid-template-areas:
    'links logo'
    'links phone-and-button--calculator'
    'divider divider'
    'copyright messengers';
  grid-template-columns: 1fr calc(218 / 16 * 1rem);
  grid-template-rows: 2.625rem calc(122 / 16 * 1rem) calc(88 / 16 * 1rem);
}

@media (max-width: 600px) {
  .main .footer .grid--footer {
    grid-template-areas:
      'logo phone-and-button--calculator'
      'messengers phone-and-button--calculator'
      'links links'
      'copyright copyright';
    grid-template-columns: inherit;
    grid-auto-rows: auto;
    grid-template-rows: inherit;
  }
}

.main .footer .divider {
  height: 3rem;
  grid-area: divider;
}

.main .footer .links {
  grid-area: links;
  display: flex;
  justify-content: space-between;
  padding-right: calc(336 / 16 * 1rem);
}

@media (max-width: 1650px) {
  .main .footer .links {
    padding-right: 1vw;
  }
}

@media (max-width: 600px) {
  .main .footer .links {
    padding-top: 1rem;
    flex-direction: column;
    gap: 2rem;
  }
}

.main .footer .links ul:first-child {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 3.75rem;
}

.main .footer .logo {
  grid-area: logo;
  align-self: flex-end;
  justify-self: flex-end;
  margin-bottom: 0.75rem;
}

@media (max-width: 600px) {
  .main .footer .logo {
    align-self: flex-start;
    justify-self: flex-start;
  }
}

.main .footer .phone-and-button--calculator {
  grid-area: phone-and-button--calculator;
  display: grid;
  gap: 0.75rem;
  grid-template-rows: min-content min-content;
}

.main .footer .messengers {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 0.75rem;
  grid-area: messengers;
  border-top: 0.0625rem solid var(--grey-1);
}

@media (max-width: 600px) {
  .main .footer .messengers {
    align-items: flex-end;
    justify-content: flex-start;
    border-top: none;
  }
}

.main .footer .copyright {
  grid-area: copyright;
  color: var(--grey-3);
  display: grid;
  border-top: 0.0625rem solid var(--grey-1);
  grid-template-rows: 1.5rem 1.5rem;
  gap: 0.5rem;
  padding-top: 1rem;
}

@media (max-width: 600px) {
  .main .footer .copyright {
    border: none;
    grid-template-rows: inherit;
  }
}
