.main .header {
  height: calc(822 / 16 * 1rem);
  position: relative;
  display: grid;
  align-items: center;
  background-image: url(../../images/header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  .main .header {
    height: 460px;
  }
}

.main .header .overlay--header {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 29%,
    rgba(102, 102, 102, 0) 100%
  );
  opacity: 0.6;
}

.main .header .container {
  position: relative;
  grid-auto-rows: max-content max-content;
}

.main .header .container.container--place-center > .wrapper {
  position: relative;
  padding-right: calc(765 / 16 * 1rem);
}

@media (max-width: 1650px) {
  .main .header .container.container--place-center > .wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .main .header .container.container--place-center .catalog-open {
    margin-left: 1rem;
  }
}

.main .header h2 {
  color: var(--white);
  text-transform: uppercase;
}

.main .header .frames {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 600px) {
  .main .header .frames {
    margin-top: 16px;
    flex-wrap: wrap;
    gap: 16px;
  }
}

.main .header .frame .title {
  color: var(--white);
  white-space: nowrap;
}

.main .header .frame .description {
  color: var(--white);
}

.main .header .button {
  width: fit-content;
}
