.main .page-information {
  position: relative;
  padding-top: 1.625rem;
  display: grid;
  gap: 1rem;
}

.main .page-information::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 0.125rem;
  background-color: var(--orange);
}

/* @media (max-width: 600px) {
  .main .page-information::before {
    left: 1rem;
  }
} */

.main .page-information .page-information__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}

@media (max-width: 600px) {
  .main .page-information .page-information__title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
  }
}

.main .page-information p {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: var(--grey-1);
}

.page-information table tr {
  border-bottom: 0.0625rem solid var(--grey-3);
}

.page-information table th {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
  text-align: left;
  padding: 1.25rem;
}

.page-information table td {
  color: var(--grey-1);
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 1.25rem;
}

.page-information ul.documents {
  display: flex;
  gap: 1.5rem;
}

@media (max-width: 600px) {
  .page-information ul.documents {
    flex-wrap: wrap;
  }
}

.page-information ul.documents li {
  border: 0.0625rem solid var(--grey-3);
  padding: 1.625rem 0.75rem;
  border-radius: 0.5rem;
}

.page-information ul.documents li a {
  text-decoration: none;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: var(--grey-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.page-information ul.documents li a::before {
  content: '';
  width: 3.125rem;
  height: 3.5rem;
  background-image: url(../../images/icons/pdf.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex-shrink: 0;
}
