.popup {
  position: absolute;
  z-index: 100;

  width: 100%;
  height: 100%;
}

.popup__body {
  position: relative;
  background-color: var(--grey-4);
  padding: 2.5rem;
  max-width: calc(872 / 16 * 1rem);
  margin: 30vh auto;
}

@media (max-width: 600px) {
  .popup__body {
    margin-top: 4rem;
    padding-top: 4rem;
  }
}

.popup__body label {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 500;
}

@media (max-width: 600px) {
  .popup__body label {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

.popup__button-close {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../../images/icons/close.svg);
  background-size: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
}

.popup__body .popup__header {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.popup__body .popup__header::before {
  content: '';
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  background-color: var(--orange);
  background-image: url(../../images/icons/mail--open.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.5rem;
  flex-shrink: 0;
}

@media (max-width: 600px) {
  .popup__body .popup__header::before {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    background-size: 1.25rem;
  }
}

.popup__body .wrapper {
  width: 100%;
  display: grid;
  gap: 1rem;
}

.popup__body button {
  justify-self: flex-end;
}

@media (max-width: 600px) {
  .popup__body .button-send {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .popup__body .wrapper .wrapper--row {
    flex-wrap: wrap;
  }
}
