.main .wrapper--search .search-panel {
  height: 0;
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: calc(140 / 16 * 1rem);
  left: 0;
  z-index: 100;
  background-color: var(--white);
  width: 100%;
  padding-bottom: 1.5rem;
  transition: 0.3s opacity ease;
  padding-top: 1rem;
}

@media (max-width: 600px) {
  .main .wrapper--search .search-panel {
    top: 56px;
  }
}

.main .wrapper--search.open .search-panel {
  height: inherit;
  visibility: visible;
  opacity: 1;
}

.main .wrapper--search .search-panel input[type='text'] {
  border: none;
  background: transparent;
  width: 100%;
  height: 3.5rem;
  color: var(--black);
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.main .wrapper--search .search-panel .wrapper {
  background: var(--grey-4);
  border-radius: 0.5rem;
  background-image: url(../../images/icons/search--grey.svg);
  background-size: 1.5rem;
  background-position: 1.25rem center;
  background-repeat: no-repeat;
  padding-left: 3.5rem;
}

.main .wrapper--search .search-panel ul li a {
  display: block;
  text-decoration: none;
  color: var(--black);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  padding: 1rem 3rem;
  border-bottom: 0.0625rem solid var(--grey-3);
}

@media (max-width: 600px) {
  .main .wrapper--search .search-panel ul li a {
    padding: 1rem;
  }
}

.main .wrapper--search .search-panel ul {
  margin-bottom: 0.625rem;
}

.main .wrapper--search .search-panel a.button {
  display: inline-block;
  width: fit-content;
  margin: 0 auto;
}

.main .wrapper--search .search-panel .search-result {
  display: grid;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s opacity ease;
}

.main .wrapper--search.popup-toggle.open .search-panel .search-result--open {
  height: initial;
  visibility: visible;
  opacity: 1;
}
