.sidebar__products {
  display: grid;
  gap: 1.5rem;
}

.sidebar__product {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  border-bottom: 0.0625rem solid var(--grey-3);
  transition: 0.3s all ease;
  padding-bottom: 0.75rem;
}

.sidebar__product:hover {
  border-color: var(--orange);
}

.sidebar__product .wrapper {
  display: grid;
  gap: 0.5rem;
  flex-grow: 1;
}

.sidebar__product p.title,
.sidebar__product p.subtitle {
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.sidebar__product p.subtitle {
  color: var(--grey-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar__product p.subtitle::after {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../../images/icons/arrow-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  transition: 0.3s all ease;
}

.sidebar__product:hover p.subtitle::after {
  background-image: url(../../images/icons/arrow-right--orange.svg);
}

.sidebar__product p.title {
  color: var(--black);
}
