.main .tabs {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.main .tabs .tabs-item {
  color: var(--grey-1);
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
  padding: 0.75rem;
  border: 0.0625rem solid var(--grey-3);
  border-radius: 0.5rem;
  cursor: pointer;
}

.main .tabs .tabs-item--active {
  color: var(--black);
  border-color: var(--black);
}
