.main .trust {
  display: flex;
  column-gap: 2.875rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .main .trust {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-bottom: 1rem;
  }
}
