.calculator {
  display: grid;
  gap: 5rem;
}

.calculator .page-with-sidebar__body {
  gap: 2.5rem;
}

.calculator .page-information table tr td:not(:first-child) {
  text-align: right;
  padding-left: 5em;
}

.calculator h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.calculator .note {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 500;
  color: var(--grey-1);
}

@media (max-width: 600px) {
  .calculator .wrapper--row {
    flex-wrap: wrap;
  }

  .calculator .button {
    width: 100%ç;
  }
}
