.main .catalog-category-product {
  display: grid;
  grid-template-columns: calc(520 / 16 * 1rem) 1fr;
  gap: 5rem;
}

@media (max-width: 1650px) {
  .main .catalog-category-product {
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .main .catalog-category-product {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.main .catalog-category-product .sidebar .slider-with-thumbs {
  height: calc(360 / 16 * 1rem);
  display: grid;
  grid-template-columns: 5rem 1fr;
  gap: 1.5rem;
  margin-bottom: 5rem;
}

@media (max-width: 600px) {
  .main .catalog-category-product .sidebar {
    display: none;
  }
}

.main .catalog-category-product .sidebar .slider__full {
  width: 100%;
  height: calc(354 / 16 * 1rem);
  padding-bottom: 1.75rem;
}

.main .catalog-category-product .sidebar .slider__full .swiper-slide img {
  height: 100%;
  object-fit: contain;
}

.main .catalog-category-product .sidebar .slider__thumbs .swiper-slide {
  width: 100%;
}

.main .catalog-category-product .sidebar .slider__thumbs .swiper-slide img {
  width: 100%;
  /* height: 100%; */
  object-fit: contain;
}

.main
  .catalog-category-product
  .sidebar
  .slider-with-thumbs
  .slider__paginator {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0 2rem;
}

.main
  .catalog-category-product
  .sidebar
  .slider-with-thumbs
  .swiper-pagination-bullet {
  all: unset;
  background-color: var(--grey-3);
  height: 0.125rem;
  width: 100%;
}

.main
  .catalog-category-product
  .sidebar
  .slider-with-thumbs
  .swiper-pagination-bullet-active {
  background-color: var(--orange);
}

.main .catalog-category-product .sidebar table tr td:last-child {
  text-align: right;
}

.main .catalog-category-product .body {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: 1fr;
}

@media (max-width: 600px) {
  .main .catalog-category-product .body {
    gap: 1rem;
  }
}

.main .catalog-category-product .easy-slider__wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 601px) {
  .main .catalog-category-product .easy-slider__wrapper {
    /* display: none; */
  }
}

.main .catalog-category-product p {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: var(--grey-1);
}

.main .catalog-category-product p.title {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--black);
}

.main .catalog-category-product p.article-number {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

@media (max-width: 600px) {
  .main .catalog-category-product p.article-number {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.main .catalog-category-product .button--big {
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 600px) {
  .main .catalog-category-product .button--big {
    width: 100%;
  }
}

.wrapper1 {
  max-width: 100%;
}
