.main .catalog-category {
  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2.5rem;
}

@media (max-width: 600px) {
  .main .catalog-category {
    grid-template-columns: 1fr;
  }
}

.main .catalog-category .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
}

.main .catalog-category .products .product {
  width: calc(424 / 16 * 1rem);
  height: calc(424 / 16 * 1rem);
  background-color: var(--grey-4);
  cursor: pointer;
  display: grid;
  grid-template-rows: calc(287 / 16 * 1rem) 1fr;
  border-bottom: 0.125rem solid transparent;
  transition: 0.3s all ease;
}

@media (max-width: 600px) {
  .main .catalog-category .products .product {
    width: calc(100vw - 2rem);
    height: calc(424 / 16 * 1rem);
  }
}

.main .catalog-category .products .product:hover {
  border-bottom-color: var(--orange);
}

.main .catalog-category .products .product .slider__image {
  width: 100%;
  height: calc(269 / 16 * 1rem);
  object-fit: cover;
}

.main .catalog-category .products .product a.product__description {
  text-decoration: none;
  display: grid;
  gap: 0.5rem;
  padding: 1.5rem 2rem;
}

.main .catalog-category .products .product .product__description:hover .title,
.main .catalog-category .products .product .product__description:hover .more {
  color: var(--orange);
  transition: 0.3s all ease;
}

.main
  .catalog-category
  .products
  .product
  .product__description:hover
  .more::after {
  background-image: url(../../images/icons/arrow-right--orange.svg);
}

.main .catalog-category .products .product .product__description .type {
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: var(--grey-1);
}

.main .catalog-category .products .product .product__description .title {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--black);
}

.main .catalog-category .products .product .product__description .more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: var(--grey-1);
}

.main .catalog-category .products .product .product__description .more::after {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../../images/icons/arrow-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.3s all ease;
}

.main .catalog-category .paginator {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 1.25rem;
}

.main .catalog-category .paginator button {
  border: 0.0625rem solid var(--grey-3);
  color: var(--black);
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  height: 2.5rem;
}

.main .catalog-category .paginator button.page-number {
  width: 2.5rem;
  padding: 0;
}
.main .catalog-category .paginator button.page-number.current-page {
  border-color: var(--black);
  color: var(--white);
  background-color: var(--black);
}

.main .catalog-category .paginator button.prev,
.main .catalog-category .paginator button.next {
  padding: 0.75rem 1rem;
  width: 2.5rem;
  background-image: url(../../images/icons/chevron.svg);
  background-position: center;
  background-size: 1.5rem;
  background-repeat: no-repeat;
}

.main .catalog-category .paginator button.prev {
  transform: rotate(90deg);
}

.main .catalog-category .paginator button.next {
  transform: rotate(-90deg);
}

@media (max-width: 600px) {
  .main .catalog-category .sidebar {
    display: none;
  }
}

.main .catalog-category .sidebar .items-types {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main .catalog-category .sidebar .item-type .items {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s opacity ease;
}

.main .catalog-category .sidebar .item-type--open .items {
  height: calc(293 / 16 * 1rem);
  opacity: 1;
  visibility: visible;
  overflow-y: auto;
}

.main .catalog-category .sidebar .item-type span {
  cursor: pointer;
  color: var(--black);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  border-bottom: 0.0625rem solid var(--grey-1);
  padding: 0.75rem 0;
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main .catalog-category .sidebar .item-type--open span::after {
  transform: rotate(180deg);
}

.main .catalog-category .sidebar .item-type span::after {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../../images/icons/chevron.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3 transform ease;
}

.main .catalog-category .sidebar .item-type .items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main .catalog-category .sidebar .item-type .items a {
  color: var(--black);
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5rem;
}
