.certificates .page-with-sidebar__body {
  display: grid;
  gap: 2.5rem;
}

.certificates .certificates__group,
.certificates__items {
  display: grid;
  gap: 1.5rem;
}

.certificates__group-title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.certificates__item {
  border: 0.0625rem solid var(--grey-3);
  border-radius: 0.5rem;
  padding: 1.5rem 1.5rem 1.5rem 6.125rem;
  background-image: url(../../images/icons/pdf.svg);
  background-size: 3.125rem 3.5rem;
  background-position: 1.5rem 1.5rem;
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  .certificates__item {
    padding: 6.125rem 1.5rem 1.5rem 1.5rem;
  }
}

.certificates__item a {
  text-decoration: none;
}

.certificates__item-title {
  color: var(--black);
  font-size: 1rem;
  line-height: 1.5rem;
  transition: 0.3s all ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .certificates__item-title {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}

.certificates__item-title::after {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../../images/icons/arrow-right.svg);
  transition: 0.3s all ease;
  flex-shrink: 0;
}

.certificates__item a:hover .certificates__item-title {
  color: var(--orange);
}

.certificates__item a:hover .certificates__item-title::after {
  color: var(--orange);
  background-image: url(../../images/icons/arrow-right--orange.svg);
}

.certificates__item-description {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 500;
  color: var(--grey-1);
}
