.delivery {
  display: grid;
  gap: 2.5rem;
}

@media (max-width: 600px) {
  .delivery {
    gap: 2rem;
  }
}

.delivery p {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: var(--grey-1);
}

.wrapper--boxes {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .wrapper--boxes {
    flex-direction: column;
  }
}

.wrapper--boxes .box {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 0.125rem solid var(--orange);
  width: 100%;
}

@media (max-width: 600px) {
  .wrapper--boxes .box {
    padding: 2rem;
    flex-direction: row;
  }
}

.wrapper--boxes .box img {
  width: 1.5rem;
  height: 1.5rem;
}

.wrapper--icons-texts {
  display: flex;
  gap: 2.5rem;
}

@media (max-width: 600px) {
  .wrapper--icons-texts {
    flex-direction: column;
  }
}

.wrapper--icons-texts .wrapper--image {
  width: 3.25rem;
  height: 3.25rem;
  background-color: var(--orange);
  border-radius: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.wrapper--icons-texts .icon-text {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

@media (max-width: 600px) {
  .delivery .wrapper--row {
    flex-direction: column;
  }
}
