.page-404 {
  display: grid;
  gap: 2.5rem;
  place-items: center;
  padding: calc(120 / 16 * 1rem) 0;
}

@media (max-width: 600px) {
  .page-404 {
    gap: 1.5rem;
  }

  .page-404 .button {
    width: 100%;
  }
}
