.main .project {
  max-width: 1008px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}

@media (max-width: 600px) {
  .main .project {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.main .project .sidebar {
  display: grid;
  gap: 5rem;
  grid-auto-rows: max-content;
}

.main .project .sidebar table tr td:last-child {
  text-align: right;
}

.main .project .body {
  display: grid;
  gap: 2.5rem;
}

.main .project > .body .wrapper {
  display: grid;
  gap: 1.5rem;
}

.main .project p {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: var(--grey-1);
}

.main .project p.title {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--black);
}

.main .project .sidebar h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.main .project .map {
  width: 100%;
  height: calc(298 / 16 * 1rem);
  overflow: hidden;
}

.main .project .map img {
  width: 100%;
  object-fit: contain;
}

.main .project .easy-slider {
  height: 428px;
  padding-bottom: 1.25rem;
}

.main .project .map {
  width: 100%;
  height: 298px;
  object-fit: cover;
}
